<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://scontent.cdninstagram.com/v/t51.2885-19/369584272_1361414521254054_4510107673535195417_n.jpg?stp=dst-jpg_s80x80&_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=6DQVenUnSaAAX_Wz_5G&_nc_ht=scontent.cdninstagram.com&oh=00_AfB1RyPrEr81pwgcgK4fVDpqBOPNl8owAoiSfARBSL3amw&oe=6501387B" 
        alt="">
      </ion-avatar>
      <ion-label>
        <h1>Ferry Ferdyansyah</h1>
        <p>Gathered: <span class="money">$15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-pickup-call-card status="hold" updatedAt="25/04/2021 16:29" createdAt="24/04/2021"
    notes="we have two bags that are full. one with plastic and the other one galsses">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer (click)="goToPickupCalls()">See all...</ion-button>
  </app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="newPickupCall()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
